:root{

--preto:#0a0a0a;
--cinza:#111827;
--azul:#2563eb;
--branco:#ffffff;

}

*{
margin:0;
padding:0;
box-sizing:border-box;
font-family: 'Poppins', sans-serif;
}

html, body {
height: 100%;
}

body{
background:var(--preto);
color:var(--branco);
padding-top:100px;
display:flex;
flex-direction:column;
min-height:100vh;
font-family: 'Poppins', sans-serif;
line-height:1.6;
color:#ececec;
}

.menu{

position:fixed;
top:0;
width:100%;

display:flex;
justify-content:space-between;
align-items:center;

padding:40px 10%;

background:#020617;
z-index:1000;

}


/* MENU DESKTOP */

.menu-desktop{

display:flex;
list-style:none;
gap:20px;

}

.menu a{

color:white;
text-decoration:none;

}

.menu a:hover{

color:var(--azul);

}


/* HAMBURGER */

.hamburger{

display:none;
font-size:30px;
cursor:pointer;
color:white;

}


/* MENU MOBILE */

.menu-mobile{

position:fixed;
top:0;
left:-250px;

width:250px;
height:100%;

background:#020617;

display:flex;
flex-direction:column;

padding:40px 20px;

gap:20px;

transition:0.4s;

z-index:1001;

}

.menu-mobile a{

color:white;
text-decoration:none;
font-size:18px;

}

.menu-mobile.ativo{

left:0;

}





















.pesquisa{
text-align:center;
margin:20px 0;
}

.pesquisa input{
padding:10px;
width:250px;
border-radius:8px;
border:1px solid #ccc;
font-size:16px;
}













/* OVERLAY */

.overlay{

position:fixed;

top:0;
left:0;

width:100%;
height:100%;

background:rgba(0,0,0,0.5);

display:none;

z-index:1000;

}

.overlay.ativo{

display:block;

}


.hero{
height:100vh;
padding:160px 5px 160px 5px;

background:
linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),
url("https://images.unsplash.com/photo-1519389950473-47ba0277781c");

background-size:cover;
background-position:center;

display:flex;
align-items:center;
justify-content:flex-start;

color:white;
}


.hero-content{

background:rgba(0,0,0,0.7);
padding:50px;
border-radius:10px;

}


/* BOTÕES */

button{

margin-top:15px;

background:var(--azul);

border:none;

padding:12px 25px;

color:white;

cursor:pointer;

border-radius:5px;

}

button:hover{

background:#1d4ed8;

}


/* SEÇÕES */

section{

padding:100px 18%;
flex:1;

}

.container{

display:flex;
align-items:center;
gap:40px;

}

.container img{

width:400px;
border-radius:10px;

}

.sobre{

background:#020617;

}


/* DIFERENCIAIS */

.diferenciais{

background:var(--cinza);
text-align:center;

}

.grid-diferenciais{

margin-top:40px;

display:grid;

grid-template-columns:repeat(4,1fr);

gap:20px;

}

.item{

background:#1e293b;
padding:25px;
border-radius:8px;

}

h3{
    padding: 6px;
}


/* SERVIÇOS */

.servicos{

text-align:center;

}

.cards{

margin-top:40px;

display:grid;

grid-template-columns:repeat(auto-fit,minmax(250px,1fr));

gap:30px;

}

.card{

background:#020617;

padding:20px;

border-radius:10px;

}

.card img{

width:100%;
height:180px;
object-fit:cover;
border-radius:6px;

}

.preco{

font-size:20px;
margin-top:10px;

}


/* CTA */

.cta{

background:var(--cinza);
text-align:center;

}



.modal{

position:fixed;

top:0;
left:0;

width:100%;
height:100%;

background:rgba(0,0,0,0.7);

display:flex;
justify-content:center;
align-items:center;

opacity:0;
visibility:hidden;

transition:0.3s;

}


.fechar{

position:absolute;

top:10px;
right:15px;

font-size:22px;

cursor:pointer;

color:white;

}

/* MODAL ATIVO */

.modal.ativo{

opacity:1;
visibility:visible;

}


/* CAIXA DO MODAL */

.modal-content{

background:#020617;

padding:30px;

border-radius:10px;

width:400px;

text-align:center;

position:relative;

/* animação */

transform:scale(0.7);
transition:0.3s;

}

/* ANIMAÇÃO AO ABRIR */

.modal.ativo .modal-content{

transform:scale(1);

}


/* FOOTER */

footer{

background:#020617;
padding:30px;
text-align:center;

}

.redes{

margin-top:10px;

}

.redes a{

color:var(--azul);
margin:0 10px;
text-decoration:none;

}


/* RESPONSIVO */

@media(max-width:768px){

.container{

flex-direction:column;
text-align:center;

}

.container img{

width:100%;

}

.grid-diferenciais{

grid-template-columns:1fr;

}

/* ESCONDE MENU DESKTOP */

.menu-desktop{

display:none;

}

/* MOSTRA HAMBURGER */

.hamburger{

display:block;

}

}